<!doctype html>{% load static conference %}
<html lang="en">
  <head>
    <!-- Release: {{ release }} -->
    <title>{{ site.name }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="voice powered learning assistant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #splash {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #splash img {
        width: 128px;
      }
      
      #app {
        display: none;
      }
    </style>
    
    {% for css in files.css %}
    <link rel="stylesheet" href="{% static css %}">{% endfor %}
    {% for js in files.js_head %}
    <script src="{% static js %}"></script>{% endfor %}
  </head>
  <body class="md-theme-default">
    <div id="splash">
      <img src="{% static "img/banner80.png" %}" alt="{{ site.name }}">
    </div>
    <div id="app">
      <md-toolbar class="topbar">
        <div>
          <router-link :to="{name: 'home'}">
            <img src="{% static "img/icon.svg" %}" alt="PyTexas">
          </router-link>
          <h2>
            <router-link :to="{name: 'home'}">
              PyTexas 2017
            </router-link>
          </h2>
        </div>
      </md-toolbar>
      <md-progress v-if="loading" class="md-accent main" md-indeterminate></md-progress>
      <div v-if="update_needed" class="update">
        New version available:
        <md-button class="md-raised" @click="do_update()">
          <md-icon>refresh</md-icon>
          Update
        </md-button>
      </div>
      <div id="content">
        <router-view></router-view>
      </div>
      <footer>
        <router-link :to="{name: 'md-page', params: {slug: 'privacy'}}">
          Privacy Policy
        </router-link>
         &nbsp;|&nbsp; 
        <router-link :to="{name: 'md-page', params: {slug: 'code-of-conduct'}}">
          Code of Conduct
        </router-link>
         &nbsp;|&nbsp; 
        Release: {{ release }}
      </footer>
    </div>
    <script>
      var DEBUG = {% if debug %}true{% else %}false{% endif %};
      var URLS = {
        main: '{{ request.scheme }}://{{ request.get_host }}',
        login: {
          google: '/auth/social/login/google-oauth2/'
        },
        md: {
          {% for md in files.md %}'{{ md|json_attr }}': '{% static md %}'{% if not forloop.last %},{% endif %}
          {% endfor %}
        }
      };
      var APP = {
        name: '{{ site.name }}',
        icon: '{% static "img/icon.svg" %}'
      };
      
      var REGISTRATION = null;
      var SW_RELEASE = null;
      var UPDATE_NEEDED = false;
    </script>
    {% for tpl in files.templates %}
    <script type="text/x-template" id="tpl-{{ tpl.path }}">
      {{ tpl.content | safe }}
    </script>{% endfor %}
    {% for js in files.js %}
    <script src="{% static js %}"></script>{% endfor %}
  </body>
</html>
