.leftnav-wrapper {
  flex: 1;

  .md-list-item .md-list-item-container {
    padding: 0;

    > div {
      width: 100%;
    }
  }

  .md-button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 1.5em;
  }

  .md-sidenav-content {
    z-index: 1010;
  }

  .md-backdrop {
    z-index: 1001;
  }

  .md-list.md-theme-default {
    background-color: transparent;
  }

  .md-button.txicon .md-icon {
    margin: 0;
  }
}
